<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstoneapplication">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/monkey"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|screenSize">
        <activity android:name=".VideoTrimmer"></activity>
        <activity android:name=".ImageEditor"></activity>
        <activity android:name=".VideoEditor"></activity>
        <activity android:name=".FileConverter"></activity>
        <activity android:name=".VideoCropper"></activity>
        <activity android:name=".VideoFilter"></activity>
        <activity android:name=".VideoMerge"></activity>
        <activity android:name=".VideoAudioChange"></activity>
        <activity android:name=".VideoResolution"></activity>
        <activity android:name=".VideoFromImages"></activity>
        <activity android:name=".VideoCollage"></activity>
        <activity android:name=".ImageCropper"></activity>
        <activity android:name=".ImageFilter"></activity>
        <activity android:name=".ImageBCSAdjustment"></activity>
        <activity android:name=".ImageRotate"></activity>
        <activity android:name=".ImageCollage"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>